/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */

/**
 * You can put your own style in this file.
 * It will be included in all color schemes
 */

//example mixin to set the text-selection style
@mixin selection {
    ::-moz-selection { @content; }
    ::selection { @content; }
}

@include selection {
    color: white;
    background: cornflowerblue;
}

.publication-records-modal, .publication-records-modal ul {
  list-style-type: none;
  padding-left: 0px;
}

.publication-records-import-btn {
  margin: 5px 0px 15px 0px;
}

.bold {
  font-weight: bold;
}

.imported {
  background-color: #E2E2E2;
}

#aspect_submission_StepTransformer_div_StartSubmissionLookupStep {

  #aspect_submission_StepTransformer_field_search {
    width: 81%;
    display: inline;
  }

  #aspect_submission_StepTransformer_field_lookup {
    width: 19%;
  }

  .modal .modal-body {
    max-height: 500px;
    overflow-y: auto;
  }

  #aspect_submission_StepTransformer_item_publication-title{
    margin-bottom:5px;
  }
}

/* QMU customisations */

/* For width smaller than 400px: */

/* HM Accessibility changes
  24 August 2020
  Overwriting default style */

a {
  color: #3B4856;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

/* Reverting from default justify to left */
h1,
.artifact-abstract,
span.composite-help,
span.field-help,
div.simple-item-view-authors,
div.item-summary-view-metadata,
#aspect_administrative_registries_EditMetadataSchema_table_metadata-schema-edit-existing-fields td,
#aspect_administrative_registries_MetadataRegistryMain_table_metadata-registry-main-table td,
#aspect_administrative_registries_FormatRegistryMain_table_bitstream-format-registry td,
#aspect_submission_Submissions_table_unfinished-submissions td,
#aspect_submission_Submissions_table_submissions-inprogress td,
#aspect_submission_Submissions_table_completed-submissions td,
table.detailtable td,
.simple-item-view-description {
  text-align: left !important;
}

.community-browser-row p {
  color: #5E5E5E;
}

.recent-submission .artifact-abstract {
  margin-bottom: 6px;
}

small, #ds-options .ds-option-set-head,
#aspect_browseArtifacts_CommunityBrowse_div_community-browse h3,
#aspect_browseArtifacts_CollectionBrowse_div_collection-browse h3{
  color: #555 !important;
}

div.table h5 {
  font-weight: bold;
}

.list-group-item active {
  background-color: #607890;
  border-color: #607890;
}

/* Style */
header .navbar-brand img{
  height: 98px;
}

header .navbar {
  min-height: 120px;
}

/* For width 400px and larger: */
@media only screen and (max-width: 415px) {
  header .navbar-brand img{
    height: 65px;
  }

  header .navbar {
    min-height: 80px;
  }

  h2 {
    font-size: 22px;
  }
}

header .navbar-default {
  background-color: #374a5c;
}