/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */

/**
 * You can put your own style in this file.
 * It will be included in all color schemes
 */

//example mixin to set the text-selection style
@mixin selection {
    ::-moz-selection { @content; }
    ::selection { @content; }
}

@include selection {
    color: white;
    background: cornflowerblue;
}

.publication-records-modal, .publication-records-modal ul {
  list-style-type: none;
  padding-left: 0px;
}

.publication-records-import-btn {
  margin: 5px 0px 15px 0px;
}

.bold {
  font-weight: bold;
}

.imported {
  background-color: #E2E2E2;
}

#aspect_submission_StepTransformer_div_StartSubmissionLookupStep {

  #aspect_submission_StepTransformer_field_search {
    width: 81%;
    display: inline;
  }

  #aspect_submission_StepTransformer_field_lookup {
    width:19%
  }

  .modal .modal-body {
    max-height: 500px;
    overflow-y: auto;
  }

  #aspect_submission_StepTransformer_item_publication-title{
    margin-bottom:5px;
  }
}

 // Our stuff - SDLC
 body {
  background-color: #f0f0f0;
}
 a:link, a:visited, a {
  color: #080c54;
}
 a:hover, a:focus {
  text-decoration: none;
  border-bottom: 1px dotted #bcbcf0;
  color: #6262DA;
}
 h3 a:hover {
  text-decoration: none;
  border-bottom: none;
}
 .countriesMap  {
  padding-top: 80px;
}
 .navbar {
  z-index: 100;
}
 .rsc-header {
  background-color: #fff;
}
 .rsc-header h1 {
  color: #080c54;
  font-family: "Oswald",sans-serif;
  font-size: 2.3em;
  margin: 0;
}
 .rsc-header h1 a {
  color: #080c54;
  text-decoration: none;
}
 .rsc-header h1 a:hover {
  text-decoration: none;
  border-bottom: 1px dotted #ffffff;
  color: #080c54;
}
 #sidebar a:link,
#sidebar a:visited,
#sidebar a {
  color: #524c44;
}
 .rsc-header-content {
  background-color: #fff;
  padding-bottom: 15px;
  padding-top: 15px;
}

.navbar {
  background-color: #fff;
}

.navbar-default {
  background-color: #fff;
}

.navbar-static-top {
  background-color: #fff;
}
 .rsc-navbar {
  /*background-color: #fff;*/
  padding-left: 0;
}
 .rsc-navbar-content {
  padding: 0;
   background-image: url("/themes/Mirage2/images/logo-lower-part.png");
   background-size: 373px;
   background-repeat: repeat-x;
}
 ul.rsc-lg-dropdown {
   margin-right: -12px;
   background-color: #6D72AB;
   border-radius: 2em;
   transition: all 0.3s ease;
   opacity: 0.9;
   font-weight: 600;

}

ul.rsc-lg-dropdown:hover  {
  border-radius: 2em !important;
  background-color: #4E5488;
  opacity: 1;

}

ul.rsc-lg-dropdown li a:hover,
ul.rsc-lg-dropdown li a:focus {
  background-color: transparent !important;
}

ul.rsc-lg-dropdown li a:hover,
ul.rsc-lg-dropdown li a:focus,
li.dropdown a:hover,
li.dropdown a:focus,
.rsc-header-content a#logo {
  border: 0 !important;
}
 .community-browse a:hover,
.community-browse a:focus {
  border-bottom: 1px solid #ccc;
}
 a#logo {
  /*position: absolute;
  z-index: 300;
  right: 0px;
  top: -15px;*/
   margin-left: 35px;
}

 #logo img {
   width: 293px;
 }
 .header-title {
  padding-top: 2px;
  padding-bottom: 3px;
}
 .main-content {
  position: relative;
  z-index: -10;
}
 .rsc-lg-breadcrumb {
  width: 680px;
}
 .rsc-md-breadcrumb {
  width: 550px;
}
 .breadcrumb {
  /*background-color: #fff;*/
   background-color: transparent !important;
  margin-bottom: 0;
  /*padding: 15px;*/
}
 .breadcrumb a {
  color: #080c54;
}
 .breadcrumb li {
   color: #000;
   background-color: #F8F8FF;
   padding: 0.6em;
   border-radius: 25px;
   transition: all 0.6s ease;
   margin-top: 2px;
}
.breadcrumb li:hover {
  background-color: #8C8CE2;
}
 .breadcrumb a:hover {
  text-decoration: none;
  border-bottom: 1px dotted #bcbcf0;
  color: #080c54;
}
 .breadcrumb > .active {
  color: #080c54;
}
 .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
   background-color: #6D72AB;
   border-color: #7389F4;
  color: #fff !important;
  z-index: 2;
}
 a.list-group-item:hover,
a.list-group-item:focus {
  border-bottom: 1px solid #ddd;
}
 .rsc-footer {
  background-color: #6D72AB;
  color: #fff;
  font-size: 0.9em;
  margin-left: -15px;
}
 footer > .container {
  border: none;
  padding: 15px;
  margin-top: 0;
}
 footer .row > div {
  border: none;
  padding-top: 0;
  background-color: #6D72AB;
  color: #fff;
}
 .rsc-footer-content {
  background-color: #6D72AB;
}
 .copyright-content {
  padding-left: 15px;
}
 .copyright-content a {
  color: #fff;
}
 .copyright-content a:hover {
   text-decoration: underline;
   border-bottom: 1px dotted #6D72AB;
   color: #fff;
}
 .footer-links {
  padding-left: 15px;
  padding-right: 15px;
  float: right;
}
 .footer-links ul.footer-links-list {
  display: block;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  padding-right: 15px;
  float: right;
}
 .small-footer-links {
  padding-right: 15px;
  float: right;
}
 ul.footer-links-list li {
  display: inline;
  padding-left: 8px;
}
 ul.footer-links-list li a,
.small-footer-links a {
  color: #fff;
  font-size: 1em;
  text-decoration: none;
}
 ul.footer-links-list li a:hover,
.small-footer-links a:hover {
  text-decoration: underline;
  border-bottom: 1px dotted #6D72AB;
  color: #fff;
}
 .btn-success {
  background-color: #6D72AB;
  border-color: #6D72AB;
  color: #fff;
}
 .btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus,
.btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled.active,
.btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus,
.btn-success.focus[disabled], .btn-success[disabled]:active, .btn-success.active[disabled],
fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, .btn-primary,
fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
  background-color:#6D72AB;
  border-color: #6D72AB;
}
 a.btn-default,
a.btn-default:link,
a.btn-default:visited {
  color: #333;
}
header .navbar-default {
    background-color: #fff;
}

li a{
    color: #080c54;
}

.navbar-toggle {
  margin: 0;
  margin-left: 9px;
  background-color: #6D72AB;
  border-radius: 2em;
  height: 50px;
  padding-left: 1em;
  padding-right: 1em;
  opacity: 0.9;
}

.navbar-toggle  {
  border-radius: 2em !important;
  background-color: #4E5488;
  opacity: 1;

}

.navbar-nav:focus, .navbar-nav:hover {
  background-color: #8C8CE2;
}

.h4 small {
  color: #595959;
}

.item-page-field-wrapper h5 {
  font-weight: bold;
}

.community-homepage {
  clear: both;
/*background-color: #0b93d5;*/
}

.community-container {
  transition: background-size 0.2s ease;
  background-size: auto 136px;
  background-position: center;
  background-repeat: no-repeat;
  height: 136px;
  width: 300px;
  float: left;
}


.community-container p {
max-width: 300px;
}

/* SASA */
#partner-577 {
  background-image: url("https://research-scotland.ac.uk/bitstream/id/8793315c-30b0-44be-9004-46f3caddaab7/?sequence=-1");
  background-size: auto 91px
}

#partner-577:hover {
  background-size: auto 98px
}

/* BIOSS */
#partner-574 {
  background-image: url("https://research-scotland.ac.uk/bitstream/id/b3c608dd-ee87-476e-baaf-aa3b398b110a/?sequence=-1")
}
#partner-574:hover {
  background-size: auto 143px;
}

/* Hutton */
#partner-575 {
  background-image: url("https://research-scotland.ac.uk/bitstream/id/9ec623e5-ab9e-4835-9ab7-26eb10afdf5f/?sequence=-1");
  background-size: auto 102px
}

#partner-575:hover {
  background-size: auto 109px
}

/* Marine */
#partner-576 {
  background-image: url("https://research-scotland.ac.uk/bitstream/id/086f7946-10b9-4a57-b600-5786884e059c/?sequence=-1");
  background-size: auto 68px
}

#partner-576:hover {
  background-size: auto 75px
}

/* RBGE */
#partner-1 {
  background-image: url("https://research-scotland.ac.uk/bitstream/id/d793a850-97ef-4a0a-8a79-a7f5fffd35c2/?sequence=-1");
  background-size: auto 102px;
  /*width: 266px;*/
}

#partner-1:hover {
  background-size: auto 109px
}

.clear {
clear: both;
}

.pad {
  padding-top: 30px;
}