/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */

/**
 * You can put your own style in this file.
 * It will be included in all color schemes
 */

//example mixin to set the text-selection style
@mixin selection {
    ::-moz-selection { @content; }
    ::selection { @content; }
}

@include selection {
    color: white;
    background: #4fb4e5;

}

.publication-records-modal, .publication-records-modal ul {
  list-style-type: none;
  padding-left: 0px;
}

.publication-records-import-btn {
  margin: 5px 0px 15px 0px;
}

.bold {
  font-weight: bold;
}

.imported {
  background-color: #E2E2E2;
}

#aspect_submission_StepTransformer_div_StartSubmissionLookupStep {

  #aspect_submission_StepTransformer_field_search {
    width: 81%;
    display: inline;
  }

  #aspect_submission_StepTransformer_field_lookup {
    width:19%
  }

  .modal .modal-body {
    max-height: 500px;
    overflow-y: auto;
  }

  #aspect_submission_StepTransformer_item_publication-title{
    margin-bottom:5px;
  }
}


// Our stuff - SDLC

.countriesMap  {
  padding-top: 80px;
}

body {
  background-color: #fff;
  color: #444444;
  font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857;
}

a {
  color: #0088cc;
  text-decoration: none;
}

a:hover,
a:focus,
a:visited {
  color: #428bca;
  text-decoration: underline;
}

/* header */

h1.sta-title {
  margin-top: 50px;
  font-family: Georgia,serif;
}

.sta-title a {
  border-radius: 0;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 0;
  margin-left: -100%;
  padding: 6px 40px 6px 100%;
  position: relative;
  background-color: #0088cc !important;
  color: #fff;
  line-height: 1.33;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  -moz-user-select: none;
  background-image: none;
  cursor: pointer;
  display: inline-block;
}

.sta-title a:hover {
  background-color: #005580 !important;
  text-decoration: none;
}

.sta-title .oblique {
  border-bottom: 66px solid #fff;
  border-left: 26px solid transparent;
  height: 0;
  position: absolute;
  right: -1px;
  top: -2px;
  width: 0;
}

.sta-header-logos {
  padding-right: 0px;
}

sta-header div.container {
  padding-right: 0px;
}

header .navbar-default {
  background-color: #0086cf;
}

.sta-navbar {
  background-color: #0088cc;
  padding-left: 0;
}

.sta-navbar-content {
  padding: 0;
}

.breadcrumb {
  background: none;
  margin-bottom: 0;
  padding: 15px;
}

.breadcrumb a {
  color: #ccc;
}

.breadcrumb li {
  color: #fff;
}

.breadcrumb a:hover {
  text-decoration: underline;
  color: #fff;
}

.breadcrumb > .active {
  color: #fff;
}

ul.sta-lg-dropdown {
  margin-right: -15px;
}

header ul.sta-lg-dropdown > li > a:hover,
header ul.sta-lg-dropdown > li > a:focus {
  background-color: #005580 !important;
}

/* facets */

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #0086cf;
  border-color: #0086cf;
}

a.list-group-item,
a.list-group-item:visited {
  color: #555;
}

/* btns */

.btn-primary {
  background-color: #0086cf;
  border-color: #0086cf;
  color: #fff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  background-color: #005580;
  border-color: #005580;
  color: #fff;
}

/* footer */

footer > .container,
footer .row > div {
  border: none;
  padding: 10px;
}

.sta-footer {
  color: #aaa;
  padding: 0;
  font-size: 16px;
}

.sta-footer-top-content {
  background-color: #202024;
  border-top: 5px solid #6a6a6b;
  width: 100%;
}

.sta-footer-bottom-content {
  background-color: #1a1a1d;
  border-top: 1px solid #252529;
  width: 100%;
}

.sta-footer a:link,
.sta-footer a:visited {
  color: #59b5e3;
  font-weight: bold;
}

.footer-block {
  padding: 10px;
}

.sta-footer h3 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.sta-footer-bottom ul li {
  display: inline;
  list-style-type: none;
  margin: 0 10px 0 0;
  padding: 0;
}

ul#footer-links,
ul#social {
  padding-left: 0;
}

#oaweek {
  margin-left: 60px;
  margin-top: 5px;
}

.item-summary-view-metadata h5 {
  font-weight: 600;
}

p.copyright-text {
  font-style: italic;
}

// next two from https://github.com/J4bbi/DSpace-sdlc/commit/51a3418d702cdf135346eaaab4ca22c66007ae36

div.ds-search-link {
  text-align: right;
  margin-top: 2px;
}
 div.simple-item-view-rights-uri {
  margin-top: -25px;
}

#aspect_eperson_LoginChooser_list_ldap-login .control-label.required::after,
#aspect_eperson_LoginChooser_div_login_header .control-label.required::after{
    content: "";
}

#aspect_discovery_SimpleSearch_div_search-results .ds-artifact-item {
    margin-bottom: 30px;
}

#aspect_discovery_SimpleSearch_div_search-results .ds-artifact-item .publication-type	{
    color: #999
}

.ds-artifact-item {
  margin-bottom: 20px;
}

.word-wrap {
  word-wrap: break-word;
}

.detailtable {
    margin-bottom: 0px !important;
}
 .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    background-color: #005580;
    border-color: #005580;
}
 .cc-license-new {
    margin-bottom: 15px;
}

.cc-item {
    margin-top: 10px;
}

.publication-type small {
    font-size: 13.5px;
}

#aspect_submission_Submissions_div_new-submission a {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #005580;
    border-color: #ccc;
    color: #fff;
}

div #aspect_submission_Submissions_div_new-submission p a:last-child {
    float: right;
}

.thumbnail {
    float: left;
    padding-left: 15px;
}

.file-list {
  margin-bottom: 15px;
}

/* responsiveness */

@media (max-width: 575px) {
  .sta-title a {
    font-size: 24px;
  }
}

@media (max-width: 400px) {
  .sta-title a {
    font-size: 18px;
  }
   h2 {
    font-size: 24px;
  }
}
